body {
	direction: rtl;
    unicode-bidi: embed;
    text-align: right;
}



/* Home Page Template */

/* Header - Main Menu */

.account ul li a{
    padding: 0 0 0 1rem !important;
}

.main-menu ul li{ 
    margin: 0 0 0 5px;
}

.main-menu ul li a.nav-link:first-child{ 
    display: flex;
    padding-right: 0 !important;
    padding-left: 20px;
}


.main-menu .navbar-toggler{
    padding-right: 0;    
}



.main-menu ul li .dropdown-menu .dropdown > a::after{
    margin-right: 0.355em;
    border-left: 0.3em solid transparent;
    border-bottom: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.main-menu .dropdown-menu .dropdown-menu { 
    right: 100%;
}

.navbar-expand .navbar-nav {
    padding-right: 0;
}

/*  */

.account.col-12.d-flex {
    padding-top: 23px;
}

/* slider */

/* Frontend Product Lists */
.home main .section-title{
    margin-bottom: 20px;
}

.home main .section-title h2{
    font-size: 3.5em;    
    display: flex;
    padding: 0 0 0 20px;
    justify-content: start;   
}

.deal-of-the-week .discount:before{
    right: 0;
}

.deal-of-the-week .discount:after{
    right: 0;
}

.deal-of-the-week h2{
    background: #f8f8f8 !important;
    font-size:4rem;   
}

/* Footer - Footer Menu */

.footer-menu ul li{ 
    margin: 0 0 0 10px;
}

/* WooCommerce */


/* Shop */

.shop-content .row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}


.woocommerce ul.products li.product a img {
    margin: 0 0 1em 1em;
    float: right;
}


.woocommerce ul.products li.product .onsale{
    transform: rotate(-90deg);
    left: auto;
    right: 0;
}

.woocommerce ul.products li.product .onsale:before {
    right: 83px;
    border-width: 24px 0 0 22px;
}

.woocommerce ul.products li.product .onsale:after {
    right: 83px;
    border-width: 0 0 24px 22px;
}
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins, 
.woocommerce-Price-amount {
    font-weight: 700;
}

.woocommerce span.onsale{
    right: 35px;
    transform: rotate(-90deg);
    direction: rtl !important;
}

.woocommerce span.onsale:before {
    right: 83px;
    border-width: 23px 0 0 22px;
}

.woocommerce span.onsale:after {
    right: 83px;
    border-width: 0 0 23px 22px;
}

.woocommerce .woocommerce-breadcrumb{
    display: table;
}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
    direction: ltr;
}

ul.products.columns-1 {
    text-align-last: right;
}

/* Blog and Archive Pages */
/* Single */
/* Comments */


.entry-pings,
.entry-comments {
    border-right: 4px solid #444;
}
li.comment {
    border-left: none;
}

.comment-list li {
    padding: 20px 25px 20px 30px;
}

.comment-list .children {
    margin-right: 1rem;
}
.comment-respond label {
    margin-left: 12px;
}
.entry-comments .comment-author img {
    right: -80px;
}
/* General */

/* Media Queries */

    .main-menu .dropdown-menu{
        margin-right: 1rem;
    }

    .main-menu ul li .dropdown-menu .dropdown > a::before{
        margin-left: .255em;
        border-left: .3em solid transparent;
        border-bottom: 0;
        border-right: .3em solid transparent;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .main-menu .dropdown-menu .dropdown-menu{
        margin-right: 0;
    }

    .main-menu .dropdown-menu .dropdown-menu a{
        padding-right: 1rem;
    }


/* Home Page */

    /* short description */

    .woocommerce ul.products li.product p{
        display: flex;
    }

    /* Price */

    .woocommerce ul.products li.product .price {
        display: flex;
    }

    .home .popular-products .woocommerce ul.products li.product .button, .home .new-arrivals .woocommerce ul.products li.product .button {
        display: table;
    }
    
    /* Deal of the week */

        /*  */

        .deal-of-the-week-img-desc{
            display: flex;
        }
        
        .deal-img{
            margin-right: auto;
        }

        .deal-desc{
            margin-left: auto;
        }

    /* Blog */

    .sixty4kitchen-blog h3 {
        display: flex;
    }

    .sixty4kitchen-blog .excerpt {
        text-align: right;
    }